<div id="settings_plugin_print_auth">
    <p>
        Configure the API details for the Print Authentication Plugin below.
        These settings require a server restart to take full effect if changed.
        <em>(Note: Actual input fields need to be added here using Knockout data-binds
         to match the keys in `get_settings_defaults`: login_url, username, password, api_url etc.)</em>
    </p>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="printAuthLoginUrl">Login URL</label>
            <div class="controls">
                <input type="text" id="printAuthLoginUrl" class="span6" data-bind="value: settings.plugins.print_auth_plugin.login_url">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="printAuthUsername">API Username</label>
            <div class="controls">
                <input type="text" id="printAuthUsername" class="span6" data-bind="value: settings.plugins.print_auth_plugin.username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="printAuthPassword">API Password</label>
            <div class="controls">
                <input type="password" id="printAuthPassword" class="span6" data-bind="value: settings.plugins.print_auth_plugin.password">
            </div>
        </div>
         <div class="control-group">
            <label class="control-label" for="printAuthApiUrl">User API URL</label>
            <div class="controls">
                <input type="text" id="printAuthApiUrl" class="span6" data-bind="value: settings.plugins.print_auth_plugin.api_url, attr: { placeholder: 'e.g., https://example.com/api/email/{email}/user' }">
            </div>
        </div>
        </form>
</div>